<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">

			<h1>Avaa liidi/myynticase</h1>

			
      <%= bootstrap_form_for( :projects,
                              url: {action: "create"}) do |f| %>

        <%= f.text_field  :name,
                          label: 'Nimi',
                          class: 'form-control' %>

        <%= f.text_area  :description,
        									cols: "43",
        									rows: "2",
                          label: 'Kuvaus',
                          class: 'form-control' %>

	
          <%= f.select  :phase, [["Liidi", "11"], ["Kontakti", "2"], ["Lähetä tarjous", "3"], ["Tarjous lähetetty", "4"], 
            ["Tarjoukseen vastattu", "5"], ["Neuvottelu", "6"], ["Kauppa", "7"], ["Hävitty", "8"],["Sulje liidi", "12"]], 
            {prompt: "--Valitse--", label: "Vaihe"}    %> 


          <%= f.text_field :schedule, 'data-behaviour' => 'datepicker', label: 'Aikataulu', class: 'form-control'  %>


         	<%= f.text_field  :target_sales,
                            label: 'Myyntitavoite',
                            class: 'form-control' %>

          <%= f.text_field  :realized_sales,
                            label: 'Toteutunut myynti',
                            class: 'form-control' %>

        <%= f.collection_select :user_id, User.all, :id, 
					:whole_name, label: 'Vastuuhenkilö', prompt: "--Valitse--" %>
			
				<%= f.collection_select :account_id, Account.all, :id, 
					:name, label: 'Yritys', prompt: "--Valitse--" %>

				<%= f.collection_select :contact_id, Contact.all, :id, 
					:whole_name, label: 'Yhteyshenkilö', prompt: "--Valitse--" %>
			 	

        <%= f.submit 'Tallenna', class: 'btn btn-mha' %>	

			<% end %>
			<br />
			<%= button_to 'Takaisin', { :controller => :projects, :action => 'index' }, :method => :get, class: 'btn btn-green' %>

		</div>
	</div>
</div>